<a href="https://colab.research.google.com/github/22041998/Q-A-Activiities/blob/main/week%2011_group-16__SupervisedLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


### Supervised Learning
### Activity: Building a Student Intervention System

### Question 1 - Classification vs. Regression
*Your goal for this project is to identify students who might need early intervention before they fail or pass. Which type of supervised learning problem is this, classification or regression? Why?*

** **bold text**Answer: **

**Classification**, As it is an yes/no question we need to go for classification. Regression is done for continuos variables. We need to do classification for categorical variables.

### Question-2
load necessary Python libraries and load the student data. Note that the last column from this dataset, `'passed'`, will be our target label (whether the student graduated or didn't graduate). All other columns are features about each student.

In [42]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [43]:
# Read student data
Student_Data = pd.read_csv("/content/student-data.csv")
Student_Data.head()

  school sex  age address famsize  ... Dalc  Walc  health absences passed
0     GP   F   18       U     GT3  ...    1     1       3        6     no
1     GP   F   17       U     GT3  ...    1     1       3        4     no
2     GP   F   15       U     LE3  ...    2     3       3       10    yes
3     GP   F   15       U     GT3  ...    1     1       5        2    yes
4     GP   F   16       U     GT3  ...    1     2       5        4    yes

[5 rows x 31 columns]

### Question-3
Let's begin by investigating the dataset to determine how many students we have information on, and learn about the graduation rate among these students. In the code cell below, you will need to compute the following:
- The total number of students, `n_students`.
- The total number of features for each student, `n_features`.
- The number of those students who passed, `n_passed`.
- The number of those students who failed, `n_failed`.
- The graduation rate of the class, `grad_rate`, in percent (%).

In [52]:
# Calculate number of students
n_students = Student_Data.shape[0]
print("The total number of students is ", n_students)

The total number of students is  395

So we have 395 students in total

In [48]:
# Calculate number of features
n_features = Student_Data.shape[1]
print("The total number of features for each student is ",n_features)

The total number of features for each student is  31

In [49]:
# Calculate passing students
n_passed = Student_Data.passed.value_counts()
print("The number of those students who passed is ",n_passed['yes'])

The number of those students who passed is  265

In [51]:
# Calculate failing students
n_failed = n_passed['no']
print("The number of those students who failed is",n_failed)

The number of those students who failed is 130

In [46]:
# Calculate graduation rate
graduation_rate=Student_Data.passed.value_counts(normalize=True)*100
print("The graduation rate is ", graduation_rate['yes'])

The graduation rate is  67.08860759493672

In [ ]:
# Print the results
Student_Data['passed']

0       no
1       no
2      yes
3      yes
4      yes
      ...
390     no
391    yes
392     no
393    yes
394     no
Name: passed, Length: 395, dtype: object

Yes indicates passed and No indicates Failed

## Preparing the Data
you will prepare the data for modeling, training and testing.

### Question-4 Identify feature and target columns


separate the student data into feature and target columns to see if any features are non-numeric.

In [ ]:
# Extract feature columns

In [ ]:
Student_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  passed      395 non-null    object
dtypes: int64(13), object(18)
memory usage: 95.8+ KB

In [ ]:
# Extract target column 'passed'

In [4]:
y=Student_Data['passed']

In [5]:
# Separate the data into feature data and target data (X and y, respectively)
# checking features
cat = Student_Data.select_dtypes(include='O').keys()
cat
# Display the categorical value
x= Student_Data.drop(['passed','school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob','reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities','nursery', 'higher', 'internet', 'romantic', 'passed'],axis=1)
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         395 non-null    int64
 1   Medu        395 non-null    int64
 2   Fedu        395 non-null    int64
 3   traveltime  395 non-null    int64
 4   studytime   395 non-null    int64
 5   failures    395 non-null    int64
 6   famrel      395 non-null    int64
 7   freetime    395 non-null    int64
 8   goout       395 non-null    int64
 9   Dalc        395 non-null    int64
 10  Walc        395 non-null    int64
 11  health      395 non-null    int64
 12  absences    395 non-null    int64
dtypes: int64(13)
memory usage: 40.2 KB

### Question-5 Preprocess Feature Columns

As you can see, there are several non-numeric columns that need to be converted! Many of them are simply `yes`/`no`, e.g. `internet`. These can be reasonably converted into `1`/`0` (binary) values.

Other columns, like `Mjob` and `Fjob`, have more than two values, and are known as _categorical variables_. The recommended way to handle such a column is to create as many columns as possible values (e.g. `Fjob_teacher`, `Fjob_other`, `Fjob_services`, etc.), and assign a `1` to one of them and `0` to all others.

These generated columns are sometimes called _dummy variables_, and we will use the [`pandas.get_dummies()`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html?highlight=get_dummies#pandas.get_dummies) function to perform this transformation. Run the code cell below to perform the preprocessing routine discussed in this section.

In [6]:
Student_Data=pd.get_dummies(Student_Data)

In [7]:
Student_Data

     age  Medu  Fedu  ...  romantic_yes  passed_no  passed_yes
0     18     4     4  ...             0          1           0
1     17     1     1  ...             0          1           0
2     15     1     1  ...             0          0           1
3     15     4     2  ...             1          0           1
4     16     3     3  ...             0          0           1
..   ...   ...   ...  ...           ...        ...         ...
390   20     2     2  ...             0          1           0
391   17     3     1  ...             0          0           1
392   21     1     1  ...             0          1           0
393   18     3     2  ...             0          0           1
394   19     1     1  ...             0          1           0

[395 rows x 58 columns]

### Question - 6 Implementation: Training and Testing Data Split
So far, we have converted all _categorical_ features into numeric values. For the next step, we split the data (both features and corresponding labels) into training and test sets. you will need to implement the following:
- Randomly shuffle and split the data (`X`, `y`) into training and testing subsets.
  - Use 300 training points (approximately 75%) and 95 testing points (approximately 25%).
  - Set a `random_state` for the function(s) you use, if provided.
  - Store the results in `X_train`, `X_test`, `y_train`, and `y_test`.

In [8]:
# splitting the data into train and test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.20)

In [9]:
# Show the results of the split
x_train.shape

(316, 13)

In [10]:
x_test.shape

(79, 13)

In [ ]:
# We have 316 points in our training data and 79 points in our testing data

### Question - 7  Training and Evaluating Models
In this section, you will choose 3 supervised learning models that are appropriate for this problem and available in `scikit-learn`. You will first discuss the reasoning behind choosing these three models by considering what you know about the data and each model's strengths and weaknesses. You will then fit the model to varying sizes of training data and measure the accuracy score.

Model selection basically depends on the objective of our buisness problem. . If inference is the goal, then restrictive models are better as they are much more interpretable. Flexible models are better if higher accuracy is the goal. In our case we need to predict whether a student will pass our fail. So accuracy matters. 
Model selection also depends on several other factors such as time taken for training, quantity of data, linearity of data and so on.

Based on the above factors we have choosed three models from sklearn. They are 
* LogisticRegression
* SVM 
* Random forest.

###  Model Application
*List three supervised learning models that are appropriate for this problem. What are the general applications of each model? What are their strengths and weaknesses? Given what you know about the data, why did you choose these models to be applied?*

In [ ]:
#explaination

The three supervised learning model which are appropriate for this problem are 

1) Logistic Regression

2) Kernel SVM

3) Random Forest 

Let's discuss one by one in detail.


## **1) Logistic Regression**

Logistic regression is a fundamental classification technique. It belongs to the group of linear classifiers and is somewhat similar to polynomial and linear regression.

**Advantages:**
Because of its efficient and straightforward nature, doesn't require high computation power, easy to implement, easily interpretable, used widely by data analyst and scientist. Also, it doesn't require scaling of features. Logistic regression provides a probability score for observations.

**Disadvantages:**
Logistic regression is not able to handle a large number of categorical features/variables. It is vulnerable to overfitting. Also, can't solve the non-linear problem with the logistic regression that is why it requires a transformation of non-linear features. Logistic regression will not perform well with independent variables that are not correlated to the target variable and are very similar or correlated to each other.

## **2) SVM:**

SVM offers very high accuracy compared to other classifiers such as logistic regression, and decision trees. It is known for its kernel trick to handle nonlinear input spaces. Generally, Support Vector Machines is considered to be a classification approach, it but can be employed in both types of classification and regression problems. It can easily handle multiple continuous and categorical variables.

**Advantages:**
SVM Classifiers offer good accuracy and perform faster prediction compared to Naïve Bayes algorithm. They also use less memory because they use a subset of training points in the decision phase. SVM works well with a clear margin of separation and with high dimensional space.

**Disadvantages:** 
SVM is not suitable for large datasets because of its high training time and it also takes more time in training compared to Naïve Bayes. It works poorly with overlapping classes and is also sensitive to the type of kernel used.

##**3) Random Forest:**

Random forests is a supervised learning algorithm. It can be used both for classification and regression. It is also the most flexible and easy to use algorithm. 

**Advantages:**

Random forests is considered as a highly accurate and 
robust method because of the number of decision trees participating in the process.
It does not suffer from the overfitting problem. The main reason is that it takes the average of all the predictions, which cancels out the biases.
The algorithm can be used in both classification and regression problems.
You can get the relative feature importance, which helps in selecting the most contributing features for the classifier.

**Disadvantages:**

Random forests is slow in generating predictions because it has multiple decision trees. Whenever it makes a prediction, all the trees in the forest have to make a prediction for the same given input and then perform voting on it. This whole process is time-consuming.
The model is difficult to interpret compared to a decision tree, where you can easily make a decision by following the path in the tree.

In [24]:
# Import the three supervised learning models from sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [ ]:
# fit model-1  on traning data

In [16]:
logistic_model = LogisticRegression(multi_class='multinomial')
logistic_model.fit(x_train,y_train)

LogisticRegression(multi_class='multinomial')

In [17]:
# predict on the test data

In [15]:
y_prediction = logistic_model.predict(x_test)

In [ ]:
# calculate the accuracy score

In [33]:
from sklearn.metrics import accuracy_score
print("Accuracy is:",accuracy_score(y_test,y_prediction))

Accuracy is: 0.7468354430379747

In [ ]:
# fit the model-2 on traning data and predict on the test data and measure the accuracy

In [34]:
# linear classifier
svm_linear = SVC(kernel='linear')
svm_linear.fit(x_train, y_train)
y_pred = svm_linear.predict(x_test)
print("The accuracy score using linear svm is ", accuracy_score(y_test,y_pred))

The accuracy score using linear svm is  0.7215189873417721

In [22]:
# Polynomial SVM
svm_poly = SVC(kernel ='poly', degree=12)
svm_poly.fit(x_train, y_train)
y_pred = svm_poly.predict(x_test)
print("The accuracy score using polynomial svm is ", accuracy_score(y_test,y_pred))

The accuracy score using polynomial svm is  0.759493670886076

In [ ]:
# fit the model-3 on traning data and predict on the test data and measure the accuracy

In [35]:
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
y_pred = rf.predict(x_test)
print("The accuracy score using random forest classifier is ", accuracy_score(y_test,y_pred))

The accuracy score using random forest classifier is  0.6962025316455697

In [36]:
rft = RandomForestClassifier(n_estimators = 100, max_depth=15, random_state=42, criterion = "entropy")
rft.fit(x_train, y_train)
y_pred = rft.predict(x_test)
print("The accuracy score using modified  random forest classifier is ", accuracy_score(y_test,y_pred))

The accuracy score using modified  random forest classifier is  0.759493670886076

Here we are getting the best results in **Modified Random forest model** and **polynomial svm model** with degree 12. Both the models give us an accuracy of 75.94%.